name: Build

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - devenv shell terraform -- --version
          - nix run github:stackbuilders/nixpkgs-terraform#'"1.14"' -- --version
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: max-jobs = 0
      - run: cat /etc/nix/nix.conf
      - uses: cachix/cachix-action@v15
        with:
          name: devenv
      - run: cat /etc/nix/nix.conf
      - run: nix profile add github:cachix/devenv/latest
      # INFO This operation should fail if nixpkgs-terraform cache is not configured
      - run: ${{ matrix.command }}

  build:
    if: false
    name: "build (system: ${{ matrix.runner.system }})"
    runs-on: ${{ matrix.runner.os }}
    strategy:
      matrix:
        runner:
          - { system: aarch64-darwin, os: macos-latest }
          - { system: x86_64-darwin, os: macos-15-intel }
          - { system: x86_64-linux, os: ubuntu-latest }
      fail-fast: false
    needs: [check]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: nixpkgs-terraform
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          skipPush: ${{ github.ref_name != 'main' }}
      - name: Build packages
        run: nix flake check

  template:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [build]
    strategy:
      matrix:
        template:
          - name: default
            test: nix develop --accept-flake-config --impure -c terraform --version
          - name: devenv
            test: nix develop --accept-flake-config --impure -c terraform --version
          - name: nixpkgs-terraform-providers-bin
            test: nix develop --accept-flake-config --impure -c terraform --version
          - name: terranix
            test: nix develop --accept-flake-config --impure -c terraform --version
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: nixpkgs-terraform
          extraPullNames: devenv
      - name: Replace inputs on templates
        run: sed -i 's/github:stackbuilders\/nixpkgs-terraform/github:stackbuilders\/nixpkgs-terraform\/${{ github.sha }}/g' templates/*/flake.nix
      - name: Create a temporary directory
        run: echo "tmpdir=$(mktemp -d)" >> "$GITHUB_OUTPUT"
        id: mktemp
      - name: Scaffold a new project
        run: nix flake init -t ${{ github.workspace }}#${{ matrix.template.name }}
        working-directory: ${{ steps.mktemp.outputs.tmpdir }}
      - name: Run test
        run: ${{ matrix.template.test }}
        working-directory: ${{ steps.mktemp.outputs.tmpdir }}
