name: Publish

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

  workflow_dispatch:
    inputs:
      tag:
        description: "The existing tag to publish"
        type: "string"
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  flakehub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag || github.ref_name }}
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v8
      - name: Publish to FlakeHub
        uses: DeterminateSystems/flakehub-push@v3
        with:
          visibility: public
          tag: ${{ inputs.tag || github.ref_name }}

  flakestry:
    runs-on: ubuntu-latest
    steps:
      - name: Publish to Flakestry
        uses: flakestry/flakestry-publish@645c2ab3c99b97f5f1abc383370ae5e72c9e7d9b
        with:
          version: ${{ inputs.tag || github.ref_name }}
