---
name: Update

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: update
  cancel-in-progress: true

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: oi/fix-update-ci
      - name: Install Nix
        uses: cachix/install-nix-action@v30
        # with:
        #   nix_path: nixpkgs=channel:nixos-24.11-small
      - name: Install devenv
        run: |
          nix profile install --accept-flake-config nixpkgs#devenv
          devenv version
      - name: Update versions
        run: |
          devenv shell -- go run . update-versions \
            --versions ../versions.json \
            --vendor-hash ../vendor-hash.nix
        env:
          CLI_GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        working-directory: cli
      # - name: Create pull request
      #   uses: peter-evans/create-pull-request@v7
      #   with:
      #     author: GitHub <noreply@github.com>
      #     commit-message: Update Terraform versions
      #     title: "feat: Update Terraform versions"
      #     body: |
      #       Automatically created pull-request to update Terraform versions.

      #       This is the result of configuring a CLI_GITHUB_TOKEN in `.env` and running:

      #       ```
      #       cli update-versions
      #       ```
      #     delete-branch: true
      #     reviewers: |
      #       oscar-izval
      #       sestrella
      #     token: ${{ secrets.BOT_TOKEN }}
